<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Health Record</title>
    <link rel="icon" href="../assets/images/patient_diagnosis.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="../assets/css/dashboard.css" rel="stylesheet">
    <script>
        if (sessionStorage.getItem("Authorization") == null) {
            window.location.href = 'login.html';
        }
    </script>

</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
            <h5><img src="../assets/images/patient_diagnosis.png" alt="" width="20px"> Health Record</h5>
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="bg-dark w-100"></div>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="nav-link px-3" href="#">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign-out</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to Sign-out?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="signout-btn" class="btn btn-outline-primary">Sign-out</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Medical Record modal -->
        <div class="modal fade" id="medicalRecord" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Medical Record</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="health-records-form">
                            <input type="hidden" id="patient-id" name="patient-id">
                            <div class="form-group">
                                <label for="weight">Weight (Kgs)</label>
                                <input type="text" class="form-control my-2" id="weight" name="weight" placeholder="Weight">
                            </div>
                            <div class="form-group">
                                <label for="height">Height</label>
                                <input type="text" class="form-control my-2" id="height" name="height" placeholder="Height">
                            </div>
                            <div class="form-group">
                                <label for="temp_reading">Temperature reading <span>&#8451;</span> </label>
                                <input type="text" class="form-control my-2" id="temp_reading" name="temp_reading" placeholder="Temp reading">
                            </div>
                            <div class="form-group">
                                <label for="diagnosis">Diagnosis</label>
                                <select class="form-control my-2" id="diagnosis" name="diagnosis">
                                    <option value="">Select</option>
                                    <option value="A00-B99|Certain infectious and parasitic diseases">Certain infectious
                                        and
                                        parasitic diseases</option>
                                    <option value="C00-D49|Neoplasms">Neoplasms</option>
                                    <option value="D50-D89|Diseases of the blood and blood-forming organs and certain
                                disorders
                                involving the immune mechanism">Diseases of the blood and blood-forming organs and
                                        certain
                                        disorders
                                        involving the immune mechanism</option>
                                    <option value="E00-E89|Endocrine, nutritional and metabolic diseases">Endocrine,
                                        nutritional
                                        and metabolic diseases</option>
                                    <option value="F01-F99|Mental, Behavioral and Neurodevelopmental disorders">Mental,
                                        Behavioral and Neurodevelopmental disorders</option>
                                    <option value="G00-G99|Diseases of the nervous system">Diseases of the nervous
                                        system
                                    </option>
                                    <option value="H00-H59|Diseases of the eye and adnexa">Diseases of the eye and
                                        adnexa
                                    </option>
                                    <option value="H60-H95|Diseases of the ear and mastoid process">Diseases of the ear
                                        and
                                        mastoid process</option>
                                    <option value="I00-I99|Diseases of the circulatory system">Diseases of the
                                        circulatory
                                        system</option>
                                    <option value="J00-J99|Diseases of the respiratory system">Diseases of the
                                        respiratory
                                        system</option>
                                    <option value="K00-K95|Diseases of the digestive system">Diseases of the digestive
                                        system
                                    </option>
                                    <option value="L00-L99|Diseases of the skin and subcutaneous tissue">Diseases of the
                                        skin
                                        and subcutaneous tissue</option>
                                    <option
                                        value="M00-M99|Diseases of the musculoskeletal system and connective tissue">
                                        Diseases of the musculoskeletal system and connective tissue
                                    </option>
                                    <option value="N00-N99|Diseases of the genitourinary system">Diseases of the
                                        genitourinary
                                        system</option>
                                    <option value="O00-O9A|Pregnancy, childbirth and the puerperium">Pregnancy,
                                        childbirth and
                                        the puerperium</option>
                                    <option value="P00-P96|Certain conditions originating in the perinatal period">
                                        Certain
                                        conditions originating in the perinatal period
                                    </option>
                                    <option value="Q00-Q99|Congenital malformations, deformations and chromosomal
                                abnormalities">Congenital malformations, deformations and chromosomal
                                        abnormalities
                                    </option>
                                    <option value="R00-R99|Symptoms, signs and abnormal clinical and laboratory
                                findings, not
                                elsewhere
                                classified">Symptoms, signs and abnormal clinical and laboratory
                                        findings, not
                                        elsewhere
                                        classified</option>
                                    <option value="S00-T88|Injury, poisoning and certain other consequences of external
                                causes">Injury, poisoning and certain other consequences of external
                                        causes
                                    </option>
                                    <option value="U00-U85|Codes for special purposes">Codes for special purposes
                                    </option>
                                    <option value="V00-Y99|External causes of morbidity">External causes of morbidity
                                    </option>
                                    <option value="Z00-Z99 Factors influencing health status and contact with health
                                services">Factors influencing health status and contact with health
                                        services
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class=" modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form>
                            <button type="button" id="health-record-btn" class="btn btn-primary">Add medical
                                record</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Medical Record modal -->

        <!-- View Medical Record modal -->
        <div class="modal fade" id="viewMedicalRecord" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Patient's health history</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" id="id">
                        </form>
                        <div id="patient_data">
                        </div>
                    </div>
                    <div class=" modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of View Medical Record modal -->

        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="dashboard.html">
                                <span data-feather="home"></span> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="add_patient.html">
                                <span data-feather="user-plus"></span> Create patient
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="view_providers.html">
                                <span data-feather="list"></span> View providers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="view_patients.html">
                                <span data-feather="list"></span> View patients
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-2 border-bottom">
                    <h4>Patients list</h4>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-3 mb-4">
                            <div class="card-header">
                                <h6>View Patients</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="patientstable" class="table table-sm table-hover table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Gender</th>
                                                <th>DOB</th>
                                                <th>Current Address</th>
                                                <th>Occupation</th>
                                                <th>Medical Record</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-body">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js "></script>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/sweetalert.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="../assets/js/dashboard.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/patient.js"></script>
</body>

</html>